.genre-container {
  margin: 80px 64px 64px 64px;

  h1 {
    color: $primary;
    margin-bottom: 36px;
  }

  .genre-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;

    p {
      color: $secondary;
      font-size: 18px;
    }
  }
}